h1,h2,h3,h4,h5,h6{
    color:#d89419;
}
body{
    margin:0;
    padding:0;
    background:#000000 url(../../img/background.jpg) top center no-repeat;
    color: #fff;
    font-family: Verdana;
}
#container{
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 0;
    width: 100%;
}
#wrapper{
    padding:30px;
    margin-left:auto;
    margin-right:auto;
    height:532px;
    width:832px;
    background-color:#0c0909;
    border: 4px solid #2c1c0e;
    border-radius: 10px;
}
.characters {
    display:table;
    margin: 0 auto;
    padding-top:30px;
}
.characterTile{
    float:left;
    margin-right:30px;
    height:350px;
    width:230px;
    background:#ff0000;
    border: 4px solid #2c1c0e;
    border-radius: 10px;
}
.characters .characterTile:last-child {
    margin: 0;
}
.characterTile:hover{
    box-shadow: 0px 0px 20px rgba(251,247,193,0.4);
}

.characterTile.warrior{
    background:url("../../img/charactersprite.jpg") 0px -350px no-repeat;
}

.characterTile.spellcaster{
    background:url("../../img/charactersprite.jpg") -235px -350px no-repeat;
}

.characterTile.ranger{
    background:url("../../img/charactersprite.jpg") -470px -350px no-repeat;
}

.characterTile.warrior:hover{
    background:url("../../img/charactersprite.jpg") 0px 0px no-repeat;
}

.characterTile.spellcaster:hover{
    background:url("../../img/charactersprite.jpg") -235px 0px no-repeat;
}

.characterTile.ranger:hover{
    background:url("../../img/charactersprite.jpg") -470px 0px no-repeat;
}

#skills{
    position:relative;
    width:300px;
    height:550px;
}
.icon {
    position:absolute;
    margin: 15px 20px;
    width:54px;
    height:54px;
    top:29px;
    left:29px;
    border:2px solid #2c1c0e;
    background-color: #d89419;
}